/* Variables */
//The stylesheet for this page uses variables.
//COLOR
$brandclr: 		#DE2C2C;
$contraclr:		#fff;
$textclr:		#333;


//SIZES
//def
$defpad: 		16px;
$defmar:		16px;
$defrad:		16px;
//small
$smapad: 		8px;
$smamar: 		8px;
//medium
$medrad:		24px;
//big

$bigpad:		24px;
$bigmar:		24px;
//BOX-SHADOW
$defboxsha:			0 4px 8px rgba(0,0,0, 0.15);

//Media query

$width-mobile: max-width;
$target-mobile-width: 640px;
$target-tablet-width: 1440px;


$content-width: 1140px;

